<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="margin20">
                <tr>
                    <th>Id</th>
                    <td>{{productitemsdetail.id}}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{productitemsdetail.title}}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{productitemsdetail.price}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{productitemsdetail.description}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{productitemsdetail.category}}</td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td>{{productitemsdetail.rating.rate}}</td>
                </tr>
                <tr>
                    <th>Count</th>
                    <td>{{productitemsdetail.rating.count}}</td>
                </tr>
                <tr>
            </table>
            <button class="btn bg-primary" (click)="addtocart()">Add to Cart</button>
        </div>
        <div class="col-md-6 margin20">
            <img src="{{productitemsdetail.image}}" alt="Product Image" width="300px" height="300px">
        </div>
    </div>
</div>